
.button-group {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  .btn {
    padding: 10px 20px;
    background-color: #1E201E;
    color: #ECDFCC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #697565;
  }

  .reset {
    background-color: #3C3D37;
  }

  .reset:hover {
    background-color: #697565;
  }